@import '/home/usr01/.cache/wal/colors.scss';

* {
  all: unset;
}

window {
  background: $background;
  border-bottom: 3px solid $color8;
}

.bar {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14pt;
  color: $foreground;

  margin-right: 10px;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 3px;
}

.icon-module {
  margin-left: 5px;

  margin-top: 5px;

  margin-bottom: 5px;

  padding-right: 5px;
  background-color: $color0;

  & > &__icon {
    margin-right: 5px;
    background-color: $color2;
    padding-left: 3px;
    padding-right: 3px;
    font-family: "Material Icons";
  }
}

.cpu {
  background-color: $color10;
  color: $background;

  .icon-module__icon {
    background-color: $color2;
    color: $background;
    font-family: "JetBrainsMono Nerd Font";
    }
}

.ram {
  background-color: $background;
  color: $color4;

  .icon-module__icon {
    background-color: $background;
    color: $color12;
  }
}

.updates {
  background-color: $background;
  color: $color10;

  .icon-module__icon {
    background-color: $background;
    color: $color2;
  }
}

.applaunch {

  background-color: $background;

  .icon-module__icon {
    background-color: $background;
    
    color: $color11;

    font-family: "JetBrainsMono Nerd Font";
  }
  
}

.units {
  font-size: 10pt;
  margin-top: 4pt;
  margin-left: 3px;
  font-weight: bold;
}

.time {
  background-color: $color0;
  color: $foreground;

  .icon-module__icon {
    background-color: $color8;
    color: $foreground;
  }
}

.powermenu {
  padding-right: 0px;
  color: $background;
  background-color: $background;

  .icon-module__icon {
    background-color: $color9;
    font-size: 16pt;
    //font-weight: bold;
  }
}
.workspaces {
  font-family: "JetBrainsMono Nerd Font";
  margin-right: 10px;

  button {
    margin: 0px 3px;
  }
  .occupied {
    color: $color7;
  }

  .focused {
    color: $foreground;
  }

  .urgent {
    color: $color9; 
  }

  .empty {
    color: $color8;
  }

}
