@import '/home/usr01/.cache/wal/colors.scss';

* {
  all: unset;
}

window {
  background: $background;
}

.bar {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14pt;
  color: $foreground;
  border-bottom: 0.15em solid $color8;
}

.icon-module {
  margin: 0.3em 0em 0.3em 0.3em; /*top-right-bottom-left*/

  padding-right: 0.3em;
  background-color: $color0;

  & > &__icon {
    margin-right: 0.3em;
    background-color: $color2;

    padding: 0em 0.3em 0em 0.3em;
    font-family: "Material Icons";
  }
}

.cpu {
  background-color: $color10;
  color: $background;

  .icon-module__icon {
    background-color: $color2;
    padding-top: 0em;
    color: $background;
    font-family: "JetBrainsMono Nerd Font";
    }
}

.network {
  background-color: $color11;
  color: $color8;

  .icon-module__icon {
    background-color: $color0;
    padding-top: 0em;
    color: $color11;
    font-family: "JetBrainsMono Nerd Font";
    }
}

.volume {
  color: $background;
  background-color: $color9;
  border-left: 0.25em solid $color1;
  
  .icon-module__icon {
    margin-right: 0em;
    background-color: $color9; 
    font-size:16pt;
    padding: 0em 0em 0em 0.2em;

    font-family: "Material Icons";
  }
}

.microphone { 
  color: $background;
  background-color: $color10;
  border-left: 0.25em solid $color2;
 
  .icon-module__icon {
    margin-right: 0em;
    background-color: $color10; 
    font-size:16pt;
    padding: 0em 0em 0em 0.2em;

    font-family: "Material Icons";
  }
}

.ram {
  background-color: $background;
  color: $color4;

  .icon-module__icon {
    background-color: $background;
    color: $color12;
  }
}

.updates {
  background-color: $background;
  color: $color10;
 
  .icon-module__icon {
    background-color: $background;
    color: $color2;
  }
}

.applaunch {
  background-color: $background;
  margin: 0em 0em 0em 0em;
  
  .icon-module__icon {
    background-color: $background; 
    color: $color11;
    font-family: "JetBrainsMono Nerd Font";
  } 
}

.units {
  font-size: 10pt;
  margin-top: 0.3em;
  margin-left: 0.2em;
  font-weight: bold;
}

.time {
  background-color: $color0;
  color: $foreground;

  .icon-module__icon {
    background-color: $color8;
    color: $foreground;
  }
}

.powermenu {
  padding-right: 0px;
  color: $background;
  background-color: $background;

  .icon-module__icon {
    background-color: $color9;
    font-size: 16pt;
    //font-weight: bold;
  }
}

.workspaces {
  font-family: "JetBrainsMono Nerd Font";
  margin: 0.25em;
  font-size: 15pt;
   
  margin-right: 0px;
  background-color: $color0;

  button {
      padding: 0.1em 0.2em 0.1em 0.2em;
  }
  .occupied {
    color: $color7;
  }

  .focused {
    color: $background;
    background-color: $color15;
  }

  .urgent {
    color: $color9; 
  }

  .empty {
    color: $color8;
  }
}

